<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Password</title>
</head>
<body>
    <% if(error && error.length > 0) { %>
        <p class="error-message"><%= error %></p>
    <% } %>
    <form action="/new-password" method="POST">
        <input type="password" name="newPassword" placeholder="new password">
        <input type="password" name="newPasswordConfirmation" placeholder="confirm new password">
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="userToken" value="<%= userToken %>">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit">Update Password</button>
    </form>
</body>
</html>