<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Private Info</title>
</head>
<body>
    <nav>
        <a href="/private">Private Info</a>
        <a href="/account">Account</a>
        <a href="/signout/<%= user._id %>">Sign Out</a>
    </nav>
    <h1>Private Page - <%= user.email %></h1>
</body>
</html>