<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password</title>
</head>
<body>
    <form action="/reset-password" method="POST">
        <label>An email with a link will be sent to email provided</label>
        <input type="email" name="email" placeholder="email">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit">Send Email</button>
    </form>
</body>
</html>